# IDE
.vscode/

# SKILL
.skills/

# DOC
docs/

# AGENT
AGENTS.md

# BUILD
Package/Executer/output/
Package/Installer/output/
Package/A333_Dnakeiot_Staging/
Package/A333_Temporary_Staging/
Release/

# LOG
logs/
verification/
work/

# PYTHON
__pycache__/
*.py[cod]
